.footer{
    background-color: #000;
    color: white;
    grid-area: f;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer a{
    color: white;
    text-decoration: none;
    font-style: italic;
    padding: 0px 10px;
}
.social img{
    max-width: 40px;
    width: 100%;
}
.social a{
    opacity: .8;
}
.social a:hover{
    opacity: 1;
}
