.app_wrapper{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "h h"
    "n c"
    "f f";
    margin-top: 20px;
   
}