.link{
    color: rgb(162, 162, 196);
    font-size: 27px;
}
.nav{
    display: flex;
    grid-area: n;
    flex-flow: column;
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
}
.nav a{
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}